.tasks {
    background-color: var(--color-very-dark-desaturated-blue);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 10px 10px var(--color-shadow);
    position: relative;
    z-index: 2;
    transition: var(--transition);
}

.tasks__form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--color-very-dark-desaturated-blue);
    border-radius: 5px;
    font-size: 0.8em;
    position: relative;
    z-index: 2;
    transition: var(--transition);
}

.tasks__empty {
    text-align: center;
    padding: 20px;
    color: var(--color-very-dark-grayish-blue-2);
}

.tasks__dragndrop {
    padding-block: 10px 40px;
    text-align: center;
    font-size: 1rem;
    color: var(--color-very-dark-grayish-blue-2);
}

.tasks.light {
    background-color: var(--color-white);
}

.tasks__form.light {
    background-color: var(--color-white);
}