.app {    
  font-family: var(--font-josefin-sans);
  font-size: var(--font-size-default);
  color: var(--color-light-grayish-blue-2);
  background-color: var(--color-very-dark-blue);
  position: relative;
  min-height: 100vh;
  transition: var(--transition);
}

.app.light {
    background-color: var(--color-white);
    color: var(--color-very-dark-grayish-blue);
}

.app.light button:hover {
  color: var(--color-very-dark-grayish-blue-3);
}